<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Diabetes Checker</title>
  <link rel="stylesheet" href="l.css">
  <link rel="icon" href="dc82ef4aad8bcc826f4f8982061c8fcb-diabetes-awareness-ribbon-drop-heart-badge-sticker.png">
</head>

<body>
  <div class="Top-Container">

    <img class="diab-img" src="dc82ef4aad8bcc826f4f8982061c8fcb-diabetes-awareness-ribbon-drop-heart-badge-sticker.png" alt="Diabetes">
    <h1
      style="color: rgb(240, 26, 26); padding-top: 50px; font-size: 3.4rem; font-family: 'Courier New', Courier, monospace;; font-style: italic;">
      ...Diabetes Checker...</h1>
    <h1
      style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding-top: 30px; padding-bottom: 10px;">
      CHECK WHETHER YOU ARE <span class="diab"> <a class="wel" href="info_diabetics.html"> DIABETICS </a></span> OR
      NOT!!!</h1>
    <h3><a class="select" href="diabetes.html"> Click Here! <span class="tooltiptext">Check Now</span></a></h3>
    
  </div>

  <div class="contact-me">

    <h2 style="padding-top: 40px;">Get more <a class="footer-link"
        href="https://www.bing.com/ck/a?!&&p=528b42ee4cf43067JmltdHM9MTY5ODAxOTIwMCZpZ3VpZD0yOGUzNjc4MS02NTdiLTZjODktMGJmZi03NDg5NjQ3ZDZkYTMmaW5zaWQ9NTIxNg&ptn=3&hsh=3&fclid=28e36781-657b-6c89-0bff-7489647d6da3&psq=diabetes+who&u=a1aHR0cHM6Ly93d3cud2hvLmludC9uZXdzLXJvb20vZmFjdC1zaGVldHMvZGV0YWlsL2RpYWJldGVz&ntb=1">Details</a></span>
      about Diabetes.</h2>
    <img class="mark" src="R.png" alt="QUE_symbol">
    <h2 class="getin">Get In Touch</h2>
    <button class="box"><a class="btn" href="mailto:adityapratap2301@gmail.com">CONTACT US</a></button>
  
  </div>

  <div class="Bottom-Container">

    <div class="bottom-container">

      <a class="footer-link1" href=""></a>
      <a class="footer-link2" href=""></a>
      <p style="padding-top: 10px;">© 2023 CUBICALS.</p>
    
    </div>
  
  </div>

</body>
</html>