.submit {
    background-color: rgba(0, 179, 255, 0.57);
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.118);
    font-size: 20px;
}

.submit:hover{
    background-color: #9613aa;
    border-color: #eff6ff;
    color: rgb(251, 251, 251);
}

.heading{
    margin-top: 20px;
    background-color:rgb(255,153,138);
    font-family:monospace;
    font-style: italic;
    color:rgb(17,125,121);
    border-color: #eff6ff;
    text-decoration: none;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.col{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-check {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(215,216,242);
    border-color: #030d1a;
    border-radius: 5px;
    width: 150px;
    height :10px;
    text-align: center;
}

.form-check:hover{
    background-color: rgb(255, 255, 255);
    border-color: #030d1a;
    color: rgb(0, 0, 0);
}

.box{
    margin-top: 20px;
    margin-bottom: 10px;

}
.sub{
    align-items: center;
    text-align: center;
}

.form-group {
    margin-left: 100px;
}
