<head>
    <title>Diabetes</title>
    <link rel="icon" href="diabetes_3.png">
</head>

<body style="background-color: antiquewhite;">
    <h1>What is Diabetes?</h1>
    <p>Diabetes is a chronic disease that occurs either when the pancreas does not produce enough insulin or when the body cannot effectively use the insulin it produces.</p>
        <p>Insulin is a hormone that regulates blood glucose. Hyperglycaemia, also called raised blood glucose or raised blood sugar, is a common effect of uncontrolled diabetes and over time leads to serious damage to many of the body's systems, especially the nerves and blood vessels.</p>
    <h1>Symptoms</h1>
    <p>Symptoms of diabetes may occur suddenly. In type 2 diabetes, the symptoms can be mild and may take many years to be noticed.</p>


    <p>Symptoms of diabetes include:</p>
    
    <ol>
        <li>Feeling very thirsty</li>
        <li>Needing to urinate more often than usual</li>
        <li>Blurred vision</li>
        <li>Feeling tired</li>
        <li>Losing weight unintentionally</li>
    </ol>
    <ul>
        <li>Over time, diabetes can damage blood vessels in the heart, eyes, kidneys and nerves.</li>
    
        <li>People with diabetes have a higher risk of health problems including heart attack, stroke and kidney failure.</li>
    
        <li>Diabetes can cause permanent vision loss by damaging blood vessels in the eyes.</li>
    
        <li>Many people with diabetes develop problems with their feet from nerve damage and poor blood flow. This can cause foot ulcers and may lead to amputation.</li>
    </ul>

    <h1>Preventions</h1>
    
    <p>To help prevent type 2 diabetes and its complications, people should:</p>
    
    <li>reach and keep a health body weight</li>
        <li>stay physically active with at least 30 minutes of moderate exercise each day</li>
        <li>eat a healthy diet and avoid sugar and saturated fat</li>
        <li>not smoke tobacco.</li>
</body>
